body{
    background-color: rgb(255, 245, 205);
}

.foto-ok{
    width: 100%;
}
.laranja{
    background-color: orange;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}
header{
    background-image: url(sol-por.PNG);
    background-size: 100%;
}
@media screen and (min-width: 1024px) {
   .foto-ok{
    width: 50%;
   }
    
   .posição{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
   }
}